$highligh-color: rgb(220, 219, 219);
$hover-color: rgb(170, 170, 170);
$primary-text-color: #000;
$primary-bg-color: #fff;

@mixin sm-mobile {
    @media screen and (max-width: 376px) {
        @content;
    }
}

@mixin mobile {
    @media screen and (max-width: 480px) {
        @content;
    }
}

@mixin sm-tablet {
    @media screen and (max-width: 768px) {
        @content;
    }
}

@mixin lg-tablet {
    @media screen and (max-width: 950px) {
        @content;
    }
}

@mixin laptop {
    @media screen and (max-width: 1200px) {
        @content;
    }
}

@mixin lg-laptop {
    @media screen and (min-width: 1201px) {
        @content;
    }
}
.css-spn4bz {
    padding: 0;
}

.css-tf23d2{
    margin-top: 1rem;
}

.css-19xo6lj{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;

    @include sm-tablet(){
        font-size: .8rem;
    }

    @include sm-tablet(){
        font-size: 1rem;
    }
}

.css-1pip4vl{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    font-size: .9rem;
    padding: 0 1rem;

    @include lg-tablet(){
        font-size: .7rem
    }
}

.css-0{
    padding-bottom: .75rem;

    @include sm-tablet(){
        // font-size: ;
    }
}