// variables.scss
$primary-text-color: #000;
$primary-bg-color: #fff;
$highligh-color: rgb(220, 219, 219);
$hover-color: rgb(170, 170, 170);
$primary-text-color: #000;
$primary-bg-color: #fff;


@mixin vsm-mobile {
    @media screen and (max-width: 300px) {
        @content;
    }
}

@mixin sm-mobile {
    @media screen and (max-width: 376px) {
        @content;
    }
}

@mixin mobile {
    @media screen and (max-width: 480px) {
        @content;
    }
}

@mixin sm-tablet {
    @media screen and (max-width: 768px) {
        @content;
    }
}

@mixin lg-tablet {
    @media screen and (max-width: 950px) {
        @content;
    }
}

@mixin laptop {
    @media screen and (max-width: 1200px) {
        @content;
    }
}

@mixin lg-laptop {
    @media screen and (min-width: 1201px) {
        @content;
    }
}

.stickySubNav {
    position: fixed;
    top: 95.1px;
    left: 0;
    width: 100%;
    z-index: 99;

    @include sm-tablet(){
        top: 57px;
    }

      .header-border{
        padding: 2vw 4vw !important;

        @include sm-tablet{
          padding: 2vw 4vw !important;
        }
      }
}


.header {
    background-color: $primary-bg-color;

    .section-border {
        position: relative;
        width: 100%;
        box-sizing: border-box;
        padding: 0 4vw;

        @include sm-tablet() {
            padding: 0 6vw;
        }

        .header-inner {
            .header-display {
                position: relative;
                display: flex;
                width: 100%;
                box-sizing: border-box;
                justify-content: flex-start;
                align-items: center;


            }
        }

        .header-title-nav-wrapper {
            width: 100%;
            box-sizing: border-box;
            display: flex;
            flex-wrap: nowrap;
            flex: 1 0 67%;
            align-items: center;
            justify-content: space-between;

            .header-title {
                flex-grow: 0;
                flex-shrink: 0;
                backface-visibility: hidden;

                .header-title-text {
                    font-size: calc(0.1 * 1.2vw + 1rem) !important;
                    font-weight: 600;
                    font-style: normal;
                    letter-spacing: 0em;
                    text-transform: none;
                    line-height: 1.2em;

                    a {
                        padding-bottom: 2px;
                        font-family: "Thin Header Sans";
                    }

                    @include sm-tablet {
                        font-size: calc(0.1 * calc(.012 * min(100vh, 900px)) + 1rem) !important;
                    }

                    @include sm-mobile {
                        font-size: .8rem !important;
                    }

                    @include vsm-mobile(){
                        font-size: .7rem !important;
                    }

                }
            }
        }
    }
}